@media screen and (min-width: 1024px) {
  .header {
    height: 70vh;
  }
  .heading-content-box {
    transform: translate(-50%, -50%);
  }
  .logo-img {
    top: -4rem;
    right: 9rem;
  }
  .header-crown-img {
    left: -3.5rem;
  }
  .heading-underline-img {
    transform: rotate(-12deg);
    right: -6rem;
  }
}

.heading-main {
  font-family: "Berkshire Swash", cursive;
}

.square {
  height: 5px;
  width: 5px;
  background-color: rgb(100 116 139);
}
.gap {
  margin-left: 2rem;
}
.heading-underline-img {
  transform: rotate(-12deg);
  right: -1rem;
}
